<h1><%= @user.name %>'s profile</h1>

<div class="profile">
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Member since:</strong> <%= @user.created_at.to_date %></p>
</div>

<div class="profile-actions">
  <% if current_user == @user %>
    <%= link_to "Edit profile", edit_user_path(@user), class: "btn" %>
    <%= button_to "Logout", sign_out_path, method: :delete, class: "btn btn-outline" %>
  <% end %>
  <%= link_to "Back to home", root_path, class: "btn btn-outline" %>
</div>
